*{
    background-color: #B5DEF0;
    /* background-image:url(images.jpeg) ;
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: left; */
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    /* font-size: 18px; */
}
body{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* ajusta el ancho máximo según sea necesario */
    margin: auto; /* centra el formulario */
    font-size: 18px;
  }
  
  .label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    font-size: 18px;
  }
  
  .label-input label {
    margin-bottom: 0px;
  }
  
  .label-input input {
    padding: 10px;
    border: 2px solid #626060;
    border-radius: 100px;
    box-sizing: content-box;
    width: 100%;
    font-size: 18px;
    background-color: #00000031;
    box-shadow: 2px 5px 8px rgb(42, 41, 41);

  }
  
  .button-container {
    margin-top: 0px;
  }
  
  .button-container button {
    padding: 10px 30px;
    background-color: #007bff9d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    transform: translate(80px, 20px);
    font-size: 15px;
    box-shadow: 2px 5px 8px rgb(42, 41, 41);
    
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  .link-container {
    margin-top: 50px;
    transform: translate(500px, -380px);
    font-size: 25px;
    text-decoration: underline ;
    color: #0000006c;
  }
  
  .link-container a {
    color: #007bffd8;
    text-decoration: none;
  }
  
